---
---
<nav class="bg-gradient-to-r from-indigo-600 to-purple-600 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center">

            <div class="flex space-x-7">
                <div>
                    <a href="/" class="flex items-center py-4 px-2">
                        <span class="font-semibold text-white text-lg">Duglas Betanco</span>
                    </a>
                </div>
            </div>
                
            <div class="hidden md:flex items-center space-x-6">
                <a href="/" class="py-4 px-2 text-white font-semibold hover:bg-purple-600 hover:shadow-md rounded transition duration-300">Inicio</a>
                <a href="/" class="py-4 px-2 text-white font-semibold hover:bg-purple-600 hover:shadow-md rounded transition duration-300">Sobre Mí</a>    
            </div>
        </div>
    </div>
</nav>